In [1]:
# Import libraries
import warnings
warnings.filterwarnings("ignore")

# Download dataset using kaggle API
import kaggle
!kaggle datasets download ankitbansal06/retail-orders

Dataset URL: https://www.kaggle.com/datasets/ankitbansal06/retail-orders
License(s): CC0-1.0
retail-orders.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
# Extract file from zip file
import zipfile
zip_ref = zipfile.ZipFile("retail-orders.zip")
zip_ref.extractall()
zip_ref.close()

In [3]:
# Read data from csv file and handle null value
import pandas as pd
df = pd.read_csv("orders.csv", na_values=['Not Available', 'unknown'])
df['Ship Mode'].unique()

array(['Second Class', 'Standard Class', nan, 'First Class', 'Same Day'],
      dtype=object)

In [4]:
# Rename columns names => make them lower case and replace space with underscore
df.columns =df.columns.str.lower()
df.columns =df.columns.str.replace(' ', '_')
df.head(5)

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5

In [5]:
# Derive new columns discount, sale price and profit
df['discount'] = df['list_price'] * df['discount_percent'] * 0.01
df['sale_price'] = df['list_price'] - df['discount']
df['profit'] = df['sale_price'] - df['cost_price']
df

,order_id,order_date,ship_mode,segment,country,city,state,postal_code,region,category,sub_category,product_id,cost_price,list_price,quantity,discount_percent,discount,sale_price,profit
0,1,2023-03-01,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Bookcases,FUR-BO-10001798,240,260,2,2,5.2,254.8,14.8
1,2,2023-08-15,Second Class,Consumer,United States,Henderson,Kentucky,42420,South,Furniture,Chairs,FUR-CH-10000454,600,730,3,3,21.9,708.1,108.1
2,3,2023-01-10,Second Class,Corporate,United States,Los Angeles,California,90036,West,Office Supplies,Labels,OFF-LA-10000240,10,10,2,5,0.5,9.5,-0.5
3,4,2022-06-18,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Furniture,Tables,FUR-TA-10000577,780,960,5,2,19.2,940.8,160.8
4,5,2022-07-13,Standard Class,Consumer,United States,Fort Lauderdale,Florida,33311,South,Office Supplies,Storage,OFF-ST-10000760,20,20,2,5,1.0,19.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9989,9990,2023-02-18,Second Class,Consumer,United States,Miami,Florida,33180,South,Furniture,Furnishings,FUR-FU-10001889,30,30,3,4,1.2,28.8,-1.2
9990,9991,2023-03-17,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Furniture,Furnishings,FUR-FU-10000747,70,90,2,4,3.6,86.4,16.4
9991,9992,2022-08-07,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Technology,Phones,TEC-PH-10003645,220,260,2,2,5.2,254.8,34.8
9992,9993,2022-11-19,Standard Class,Consumer,United States,Costa Mesa,California,92627,West,Office Supplies,Paper,OFF-PA-10004041,30,30,4,3,0.9,29.1,-0.9
9993,9994,2022-07-17,Second Class,Consumer,United States,Westminster,California,92683,West,Office Supplies,Appliances,OFF-AP-10002684,210,240,2,3,7.2,232.8,22.8

In [6]:
#  Convert order date from object to datetime
df['order_date'] = pd.to_datetime(df['order_date'], format="%Y-%m-%d")
df['order_date']

0      2023-03-01
1      2023-08-15
2      2023-01-10
3      2022-06-18
4      2022-07-13
          ...
9989   2023-02-18
9990   2023-03-17
9991   2022-08-07
9992   2022-11-19
9993   2022-07-17
Name: order_date, Length: 9994, dtype: datetime64[ns]

In [7]:
# Drop irrelevant columns 
df.drop(columns=['list_price', 'discount_percent', 'cost_price'], inplace=True)

In [8]:
# Load the data into sql server using replace option
import sqlalchemy as sal
import os
from dotenv import load_dotenv

load_dotenv()

db_user = os.environ.get('DB_USER')
db_password = os.environ.get('DB_PASSWORD')
db_server = os.environ.get('DB_SERVER')
db_name = os.environ.get('DB_NAME')

connection_string = f"mssql://{db_server}/{db_name}?driver=ODBC+DRIVER+17+FOR+SQL+SERVER"
engine = sal.create_engine(connection_string, echo=True)
conn = engine.connect()

2025-03-20 15:53:52,623 INFO sqlalchemy.engine.Engine SELECT CAST(SERVERPROPERTY('ProductVersion') AS VARCHAR)
2025-03-20 15:53:52,624 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-03-20 15:53:52,626 INFO sqlalchemy.engine.Engine SELECT schema_name()
2025-03-20 15:53:52,626 INFO sqlalchemy.engine.Engine [generated in 0.00034s] ()
2025-03-20 15:53:52,627 INFO sqlalchemy.engine.Engine SELECT CAST('test max support' AS NVARCHAR(max))
2025-03-20 15:53:52,627 INFO sqlalchemy.engine.Engine [generated in 0.00028s] ()
2025-03-20 15:53:52,628 INFO sqlalchemy.engine.Engine SELECT 1 FROM fn_listextendedproperty(default, default, default, default, default, default, default)
2025-03-20 15:53:52,628 INFO sqlalchemy.engine.Engine [generated in 0.00031s] ()

In [9]:
# Load the data into sql server using append option
df.to_sql('df_orders', con=conn, index=False, if_exists='replace') # Can change 'append' to 'replace'

2025-03-20 15:53:57,682 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-03-20 15:53:57,686 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-03-20 15:53:57,687 INFO sqlalchemy.engine.Engine [generated in 0.00060s] ('BASE TABLE', 'VIEW', 'df_orders', 'dbo')
2025-03-20 15:53:57,687 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-03-20 15:53:57,688 INFO sqlalchemy.engine.Engine [cached since 0.002049s ago] ('BASE TABLE', 'VIEW', 'df_orders', 'dbo')
2025-03-20 15:53:57,690 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2025-03-20 15:53:57,690 INFO sqlalchemy.engine.Engine [generated in 0.00033s] ('dbo', 'BASE TABLE')
2025-03-20 15:53:57,696 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
2025-03-20 15:53:57,696 INFO sqlalchemy.engine.Engine [cached since 0.007647s ago] ('dbo', 'VIEW')
2025-03-20 15:53:57,701 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME], [INFORMATION_SCHEMA].[COLUMNS].[DATA_TYPE], [INFORMATION_SCHEMA].[COLUMNS].[IS_NULLABLE], [INFORMATION_SCHEMA].[COLUMNS].[CHARACTER_MAXIMUM_LENGTH], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_PRECISION], [INFORMATION_SCHEMA].[COLUMNS].[NUMERIC_SCALE], [INFORMATION_SCHEMA].[COLUMNS].[COLUMN_DEFAULT], [INFORMATION_SCHEMA].[COLUMNS].[COLLATION_NAME], sys.computed_columns.definition, sys.computed_columns.is_persisted, sys.identity_columns.is_identity, CAST(sys.identity_columns.seed_value AS NUMERIC(38, 0)) AS seed_value, CAST(sys.identity_columns.increment_value AS NUMERIC(38, 0)) AS increment_value, CAST(sys.extended_properties.value AS NVARCHAR(max)) AS comment
FROM [INFORMATION_SCHEMA].[COLUMNS] LEFT OUTER JOIN sys.computed_columns ON sys.computed_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.computed_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.identity_columns ON sys.identity_columns.object_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.identity_columns.name = ([INFORMATION_SCHEMA].[COLUMNS].[COLUMN_NAME] COLLATE DATABASE_DEFAULT) LEFT OUTER JOIN sys.extended_properties ON sys.extended_properties.class = ? AND sys.extended_properties.major_id = object_id([INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME]) AND sys.extended_properties.minor_id = [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION] AND sys.extended_properties.name = CAST(? AS NVARCHAR(max))
WHERE [INFORMATION_SCHEMA].[COLUMNS].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[COLUMNS].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[COLUMNS].[ORDINAL_POSITION]
2025-03-20 15:53:57,701 INFO sqlalchemy.engine.Engine [generated in 0.00044s] ('.', '.', 1, '.', 'MS_Description', 'df_orders', 'dbo')
2025-03-20 15:53:57,727 INFO sqlalchemy.engine.Engine SELECT [C].[COLUMN_NAME], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_TYPE], [C].[CONSTRAINT_NAME], objectproperty(object_id([C].[TABLE_SCHEMA] + CAST(? AS NVARCHAR(max)) + [C].[CONSTRAINT_NAME]), ?) AS is_clustered
FROM [INFORMATION_SCHEMA].[KEY_COLUMN_USAGE] AS [C], [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS]
WHERE [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME] = [C].[CONSTRAINT_NAME] AND [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[TABLE_SCHEMA] = [C].[TABLE_SCHEMA] AND [C].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [C].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max)) ORDER BY [INFORMATION_SCHEMA].[TABLE_CONSTRAINTS].[CONSTRAINT_NAME], [C].[ORDINAL_POSITION]
2025-03-20 15:53:57,727 INFO sqlalchemy.engine.Engine [generated in 0.00052s] ('.', 'CnstIsClustKey', 'df_orders', 'dbo')
2025-03-20 15:53:57,774 INFO sqlalchemy.engine.Engine WITH fk_info AS (
    SELECT
        ischema_ref_con.constraint_schema,
        ischema_ref_con.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_ref_con.unique_constraint_schema,
        ischema_ref_con.unique_constraint_name,
        ischema_ref_con.match_option,
        ischema_ref_con.update_rule,
        ischema_ref_con.delete_rule,
        ischema_key_col.column_name AS constrained_column
    FROM
        INFORMATION_SCHEMA.REFERENTIAL_CONSTRAINTS ischema_ref_con
        INNER JOIN
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col ON
            ischema_key_col.table_schema = ischema_ref_con.constraint_schema
            AND ischema_key_col.constraint_name =
            ischema_ref_con.constraint_name
    WHERE ischema_key_col.table_name = CAST(? AS NVARCHAR(max))
        AND ischema_key_col.table_schema = CAST(? AS NVARCHAR(max))
),
constraint_info AS (
    SELECT
        ischema_key_col.constraint_schema,
        ischema_key_col.constraint_name,
        ischema_key_col.ordinal_position,
        ischema_key_col.table_schema,
        ischema_key_col.table_name,
        ischema_key_col.column_name
    FROM
        INFORMATION_SCHEMA.KEY_COLUMN_USAGE ischema_key_col
),
index_info AS (
    SELECT
        sys.schemas.name AS index_schema,
        sys.indexes.name AS index_name,
        sys.index_columns.key_ordinal AS ordinal_position,
        sys.schemas.name AS table_schema,
        sys.objects.name AS table_name,
        sys.columns.name AS column_name
    FROM
        sys.indexes
        INNER JOIN
        sys.objects ON
            sys.objects.object_id = sys.indexes.object_id
        INNER JOIN
        sys.schemas ON
            sys.schemas.schema_id = sys.objects.schema_id
        INNER JOIN
        sys.index_columns ON
            sys.index_columns.object_id = sys.objects.object_id
            AND sys.index_columns.index_id = sys.indexes.index_id
        INNER JOIN
        sys.columns ON
            sys.columns.object_id = sys.indexes.object_id
            AND sys.columns.column_id = sys.index_columns.column_id
)
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        constraint_info.table_schema AS referred_table_schema,
        constraint_info.table_name AS referred_table_name,
        constraint_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN constraint_info ON
            constraint_info.constraint_schema =
                fk_info.unique_constraint_schema
            AND constraint_info.constraint_name =
                fk_info.unique_constraint_name
            AND constraint_info.ordinal_position = fk_info.ordinal_position
    UNION
    SELECT
        fk_info.constraint_schema,
        fk_info.constraint_name,
        fk_info.ordinal_position,
        fk_info.constrained_column,
        index_info.table_schema AS referred_table_schema,
        index_info.table_name AS referred_table_name,
        index_info.column_name AS referred_column,
        fk_info.match_option,
        fk_info.update_rule,
        fk_info.delete_rule
    FROM
        fk_info INNER JOIN index_info ON
            index_info.index_schema = fk_info.unique_constraint_schema
            AND index_info.index_name = fk_info.unique_constraint_name
            AND index_info.ordinal_position = fk_info.ordinal_position

    ORDER BY fk_info.constraint_schema, fk_info.constraint_name,
        fk_info.ordinal_position

2025-03-20 15:53:57,776 INFO sqlalchemy.engine.Engine [generated in 0.00075s] ('df_orders', 'dbo')
2025-03-20 15:53:57,938 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max)) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_SCHEMA] = CAST(? AS NVARCHAR(max))
2025-03-20 15:53:57,938 INFO sqlalchemy.engine.Engine [cached since 0.2518s ago] ('BASE TABLE', 'VIEW', 'df_orders', 'dbo')
2025-03-20 15:53:57,939 INFO sqlalchemy.engine.Engine
select
    ind.index_id,
    ind.is_unique,
    ind.name,
    ind.type,
    ind.filter_definition
from
    sys.indexes as ind
join sys.tables as tab on
    ind.object_id = tab.object_id
join sys.schemas as sch on
    sch.schema_id = tab.schema_id
where
    tab.name = CAST(? AS NVARCHAR(max))
    and sch.name = CAST(? AS NVARCHAR(max))
    and ind.is_primary_key = 0
    and ind.type != 0
order by
    ind.name

2025-03-20 15:53:57,939 INFO sqlalchemy.engine.Engine [generated in 0.00041s] ('df_orders', 'dbo')
2025-03-20 15:53:57,952 INFO sqlalchemy.engine.Engine
select
    ind_col.index_id,
    col.name,
    ind_col.is_included_column
from
    sys.columns as col
join sys.tables as tab on
    tab.object_id = col.object_id
join sys.index_columns as ind_col on
    ind_col.column_id = col.column_id
    and ind_col.object_id = tab.object_id
join sys.schemas as sch on
    sch.schema_id = tab.schema_id
where
    tab.name = CAST(? AS NVARCHAR(max))
    and sch.name = CAST(? AS NVARCHAR(max))

2025-03-20 15:53:57,953 INFO sqlalchemy.engine.Engine [generated in 0.00157s] ('df_orders', 'dbo')
2025-03-20 15:53:57,970 INFO sqlalchemy.engine.Engine
            SELECT cast(com.value as nvarchar(max))
            FROM fn_listextendedproperty('MS_Description',
                'schema', CAST(? AS NVARCHAR(max)), 'table', CAST(? AS NVARCHAR(max)), NULL, NULL
            ) as com;

2025-03-20 15:53:57,971 INFO sqlalchemy.engine.Engine [generated in 0.00054s] ('dbo', 'df_orders')
2025-03-20 15:53:57,973 INFO sqlalchemy.engine.Engine SELECT [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME]
FROM [INFORMATION_SCHEMA].[TABLES]
WHERE ([INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max)) OR [INFORMATION_SCHEMA].[TABLES].[TABLE_TYPE] = CAST(? AS NVARCHAR(max))) AND [INFORMATION_SCHEMA].[TABLES].[TABLE_NAME] = CAST(? AS NVARCHAR(max))
2025-03-20 15:53:57,973 INFO sqlalchemy.engine.Engine [generated in 0.00030s] ('BASE TABLE', 'VIEW', 'df_orders')
2025-03-20 15:53:57,978 INFO sqlalchemy.engine.Engine
DROP TABLE df_orders
2025-03-20 15:53:57,978 INFO sqlalchemy.engine.Engine [no key 0.00027s] ()
2025-03-20 15:53:57,980 INFO sqlalchemy.engine.Engine
CREATE TABLE df_orders (
	order_id BIGINT NULL,
	order_date DATETIME NULL,
	ship_mode VARCHAR(max) NULL,
	segment VARCHAR(max) NULL,
	country VARCHAR(max) NULL,
	city VARCHAR(max) NULL,
	state VARCHAR(max) NULL,
	postal_code BIGINT NULL,
	region VARCHAR(max) NULL,
	category VARCHAR(max) NULL,
	sub_category VARCHAR(max) NULL,
	product_id VARCHAR(max) NULL,
	quantity BIGINT NULL,
	discount FLOAT(53) NULL,
	sale_price FLOAT(53) NULL,
	profit FLOAT(53) NULL
)


2025-03-20 15:53:57,980 INFO sqlalchemy.engine.Engine [no key 0.00036s] ()
2025-03-20 15:53:58,057 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ... 6389 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-20 15:53:58,059 INFO sqlalchemy.engine.Engine [generated in 0.02856s (insertmanyvalues) 1/77 (unordered)] (1, datetime.datetime(2023, 3, 1, 0, 0), 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Bookcases', 'FUR-BO-10001798', 2, 5.2, 254.8, 14.800000000000011, 2, datetime.datetime(2023, 8, 15, 0, 0), 'Second Class', 'Consumer', 'United States', 'Henderson', 'Kentucky', 42420, 'South', 'Furniture', 'Chairs', 'FUR-CH-10000454', 3, 21.900000000000002, 708.1, 108.10000000000002, 3, datetime.datetime(2023, 1, 10, 0, 0), 'Second Class', 'Corporate', 'United States', 'Los Angeles', 'California', 90036, 'West', 'Office Supplies', 'Labels', 'OFF-LA-10000240', 2, 0.5, 9.5, -0.5, 4, datetime.datetime(2022, 6, 18, 0, 0) ... 1996 parameters truncated ... 230.4, 30.400000000000006, 129, datetime.datetime(2023, 9, 18, 0, 0), 'Second Class', 'Home Office', 'United States', 'Los Angeles', 'California', 90004, 'West', 'Furniture', 'Chairs', 'FUR-CH-10001146', 2, 1.6, 78.4, 8.400000000000006, 130, datetime.datetime(2022, 1, 3, 0, 0), 'Second Class', 'Home Office', 'United States', 'Los Angeles', 'California', 90004, 'West', 'Furniture', 'Furnishings', 'FUR-FU-10003773', 3, 9.6, 230.4, 10.400000000000006, 131, datetime.datetime(2022, 7, 17, 0, 0), 'First Class', 'Corporate', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Technology', 'Phones', 'TEC-PH-10002293', 5, 1.8, 58.2, 8.200000000000003)
2025-03-20 15:53:58,119 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ... 6389 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-20 15:53:58,120 INFO sqlalchemy.engine.Engine [insertmanyvalues 2/77 (unordered)] (132, datetime.datetime(2022, 3, 30, 0, 0), 'First Class', 'Corporate', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Office Supplies', 'Paper', 'OFF-PA-10002377', 2, 3.2, 76.8, -3.200000000000003, 133, datetime.datetime(2022, 5, 1, 0, 0), 'First Class', 'Corporate', 'United States', 'Columbus', 'Ohio', 43229, 'East', 'Office Supplies', 'Fasteners', 'OFF-FA-10002780', 9, 1.0, 19.0, -1.0, 134, datetime.datetime(2023, 4, 29, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Roseville', 'California', 95661, 'West', 'Office Supplies', 'Paper', 'OFF-PA-10001804', 3, 0.8, 19.2, -0.8000000000000007, 135, datetime.datetime(2022, 10, 28, 0, 0) ... 1996 parameters truncated ... 19.0, -1.0, 260, datetime.datetime(2022, 10, 20, 0, 0), 'Second Class', 'Consumer', 'United States', 'New York City', 'New York', 10009, 'East', 'Office Supplies', 'Storage', 'OFF-ST-10002790', 3, 8.8, 211.2, 31.19999999999999, 261, datetime.datetime(2022, 6, 11, 0, 0), 'Second Class', 'Consumer', 'United States', 'New York City', 'New York', 10009, 'East', 'Office Supplies', 'Binders', 'OFF-BI-10003460', 5, 1.0, 19.0, -1.0, 262, datetime.datetime(2023, 8, 29, 0, 0), 'Standard Class', 'Corporate', 'United States', 'Pasadena', 'Texas', 77506, 'Central', 'Office Supplies', 'Appliances', 'OFF-AP-10002203', 2, 0.0, 0.0, 0.0)
2025-03-20 15:53:58,122 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ... 6389 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-20 15:53:58,122 INFO sqlalchemy.engine.Engine [insertmanyvalues 3/77 (unordered)] (263, datetime.datetime(2022, 12, 26, 0, 0), 'Second Class', 'Corporate', 'United States', 'Houston', 'Texas', 77036, 'Central', 'Technology', 'Machines', 'TEC-MA-10000822', 3, 91.8, 2968.2, 278.1999999999998, 264, datetime.datetime(2022, 6, 14, 0, 0), 'Second Class', 'Corporate', 'United States', 'Houston', 'Texas', 77036, 'Central', 'Technology', 'Machines', 'TEC-MA-10003353', 7, 75.60000000000001, 2444.4, 274.4000000000001, 265, datetime.datetime(2023, 6, 20, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Chicago', 'Illinois', 60610, 'Central', 'Technology', 'Phones', 'TEC-PH-10001433', 4, 9.9, 320.1, 20.100000000000023, 266, datetime.datetime(2022, 11, 17, 0, 0) ... 1996 parameters truncated ... 19.6, -0.3999999999999986, 391, datetime.datetime(2023, 3, 14, 0, 0), 'Standard Class', 'Consumer', 'United States', 'New York City', 'New York', 10009, 'East', 'Technology', 'Accessories', 'TEC-AC-10001998', 2, 2.0, 38.0, -2.0, 392, datetime.datetime(2022, 5, 27, 0, 0), 'Second Class', 'Consumer', 'United States', 'Des Moines', 'Washington', 98198, 'West', 'Technology', 'Phones', 'TEC-PH-10003012', 2, 10.0, 240.0, 10.0, 393, datetime.datetime(2022, 12, 19, 0, 0), 'Second Class', 'Consumer', 'United States', 'Des Moines', 'Washington', 98198, 'West', 'Technology', 'Copiers', 'TEC-CO-10002313', 3, 36.0, 1764.0, 164.0)
2025-03-20 15:53:58,124 INFO sqlalchemy.engine.Engine INSERT INTO df_orders (order_id, order_date, ship_mode, segment, country, city, state, postal_code, region, category, sub_category, product_id, quantity, discount, sale_price, profit) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ... 6389 characters truncated ... , (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?), (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2025-03-20 15:53:58,124 INFO sqlalchemy.engine.Engine [insertmanyvalues 4/77 (unordered)] (394, datetime.datetime(2022, 11, 3, 0, 0), 'Second Class', 'Corporate', 'United States', 'Peoria', 'Illinois', 61604, 'Central', 'Office Supplies', 'Binders', 'OFF-BI-10003982', 3, 0.2, 9.8, -0.1999999999999993, 395, datetime.datetime(2022, 6, 26, 0, 0), 'Standard Class', 'Home Office', 'United States', 'Las Vegas', 'Nevada', 89115, 'West', 'Office Supplies', 'Binders', 'OFF-BI-10004492', 3, 2.4, 77.6, 17.599999999999994, 396, datetime.datetime(2022, 8, 23, 0, 0), 'Second Class', 'Corporate', 'United States', 'Warwick', 'Rhode Island', 2886, 'East', 'Office Supplies', 'Storage', 'OFF-ST-10000798', 2, 1.5, 48.5, 8.5, 397, datetime.datetime(2023, 9, 23, 0, 0) ... 1996 parameters truncated ... 124.8, 4.799999999999997, 522, datetime.datetime(2022, 5, 24, 0, 0), 'Standard Class', 'Consumer', 'United States', 'Houston', 'Texas', 77041, 'Central', 'Office Supplies', 'Binders', 'OFF-BI-10000285', 9, 0.3, 9.7, -0.3000000000000007, 523, datetime.datetime(2023, 12, 17, 0, 0), 'First Class', 'Corporate', 'United States', 'Detroit', 'Michigan', 48234, 'Central', 'Furniture', 'Tables', 'FUR-TA-10001857', 2, 4.2, 205.8, 25.80000000000001, 524, datetime.datetime(2022, 11, 1, 0, 0), 'First Class', 'Consumer', 'United States', 'Los Angeles', 'California', 90032, 'West', 'Technology', 'Phones', 'TEC-PH-10003555', 3, 3.0, 57.0, 7.0)

38